# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data / models (don't upload raw datasets unless you want to)
data/*.csv
models/*.joblib
data/*.db

# OS
.DS_Store
